.form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;

  }
  
  .label {
    margin-bottom: 5px;
  }
  .R_name{
    font-size: 16px;
    font-style: italic;
  }
  
  .input,
  select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .button {
    background-color: #008cba;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0077a3;
  }
  
  .select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 2l3 3 3-3'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
  }
  